#decl(SHMEM_VEC)
fn store_shmem(val: vec4<u32>, idx: u32) {
    shmem[idx] = val.x;
    shmem[idx + 1] = val.y;
    shmem[idx + 2] = val.z;
    shmem[idx + 3] = val.w;
}
#enddecl(SHMEM_VEC)

#decl(SHMEM_SCALAR)
fn store_shmem(val: f16, idx: u32) {
    shmem[idx] = val;  // Convert f16 to u32 before storing
}

fn store_shmem(val: u32, idx: u32) {
    shmem[idx] = val;  // Directly store u32 in shmem
}
#enddecl(SHMEM_SCALAR)

#decl(INIT_SRC0_SHMEM_FLOAT)

fn init_shmem_src0(thread_id: u32, batch_offset: u32, offset_m: u32, k_outer: u32) {
    for (var elem_idx = thread_id * {{VEC_SIZE}}; elem_idx < TILE_SRC0_SHMEM; elem_idx += TOTAL_WORKGROUP_SIZE * {{VEC_SIZE}}) {
        let tile_m = elem_idx / TILE_K;
        let tile_k = elem_idx % TILE_K;
        let global_m = offset_m + tile_m;
        let global_k = k_outer + tile_k;
        let src0_idx = batch_offset + global_m * params.stride_01 + global_k;
        let src0_val = select( // taking a slight performance hit to avoid oob
            {{SRC0_TYPE}}(0.0),
            src0[src0_idx/{{VEC_SIZE}}],
            global_m < params.m && global_k < params.k);
        store_shmem({{SHMEM_TYPE}}(src0_val), elem_idx);
    }
}

#enddecl(INIT_SRC0_SHMEM_FLOAT)

#decl(INIT_SRC1_SHMEM)

fn init_shmem_src1(thread_id: u32, batch_offset: u32, offset_n: u32, k_outer: u32) {
    for (var elem_idx = thread_id * {{VEC_SIZE}}; elem_idx < TILE_SRC1_SHMEM; elem_idx += TOTAL_WORKGROUP_SIZE * {{VEC_SIZE}}) {
        let tile_n = elem_idx / TILE_K;
        let tile_k = elem_idx % TILE_K;
        let global_n = offset_n + tile_n;
        let global_k = k_outer + tile_k;
        let src1_idx = batch_offset + global_n * params.stride_11 + global_k;
        let src1_val = select(
            {{SRC1_TYPE}}(0.0),
            src1[src1_idx/{{VEC_SIZE}}],
            global_n < params.n && global_k < params.k);
        store_shmem({{SHMEM_TYPE}}(src1_val), TILE_SRC0_SHMEM + elem_idx);
    }
}

#enddecl(INIT_SRC1_SHMEM)

#decl(INIT_SRC0_SHMEM_Q4_0)

const BLOCK_SIZE = 32u; // block of 32 weights for quantization, will share the same scale
override BLOCKS_K = TILE_K/BLOCK_SIZE; // the number of blocks per k-tile. Note that this currently only works if TILE_K is a multiple of BLOCK_SIZE, which may need to be rethought for larger quantized types.
const NQ = 16u; // each thread process 16 quantized values

// 32 weights per block * 4 bits per weight = 128 bits to store all
// 128 bits / 32 bits (u32) = 4 u32s + 1 for scale = 5
// scale is technically still stored as an f16 inside of a u32
const U32_PER_BLOCK = 5;

const WEIGHTS_PER_U32 = 8u; // 8 weights per u32
const U32_PER_THREAD = NQ / WEIGHTS_PER_U32;

fn init_shmem_src0(thread_id: u32, batch_offset: u32, offset_m: u32, k_outer: u32) {
    for (var i = thread_id * NQ; i < TILE_SRC0_SHMEM; i += TOTAL_WORKGROUP_SIZE * NQ) {
        
        let blck_idx = i / BLOCK_SIZE; // which block the current quantized element is in
        let block_offset = (i % BLOCK_SIZE) / WEIGHTS_PER_U32; // which quantized weight in the block 
        let shmem_idx = blck_idx * BLOCK_SIZE + block_offset * 4u; // each u32 is 4 bytes so multiply by 4u

        let tile_m = blck_idx / BLOCKS_K;
        let global_m = offset_m + tile_m;
        let block_k = blck_idx % BLOCKS_K;
        let global_k = k_outer / BLOCK_SIZE + block_k;

        if (global_m < params.m && global_k < params.k / BLOCK_SIZE) {
            let src0_idx = batch_offset + global_m * params.stride_01 + global_k;
            let scale_idx = src0_idx * U32_PER_BLOCK;

            // scale is still technically an f16 stored in a u32 so we need to grab it 
            let scale_u32 = src0[scale_idx];
            let d = f16(scale_u32 & 0xFFFFu);  // Extract the lower 16 bits and convert to f16


            for (var j = 0u; j < U32_PER_THREAD; j++) {

                // directly get the packed version from u32
                let q_packed = src0[scale_idx + 1u + block_offset + j];

                // loop 1 byte (8 bits) at a time
                for (var k = 0u; k < 4u; k++) {
                    let q_byte = get_byte(q_packed, k);
                    
                    // Unpack the high nibble (4 bits) and low nibble (4 bits)
                    let q_hi = (f16((q_byte >> 4) & 0xFu) - 8.0) * d;  // higher 4 bits, scaled
                    let q_lo = (f16(q_byte & 0xFu) - 8.0) * d;         // lower 4 bits, scaled

                    // Store the unpacked and scaled values in shared memory
                    shmem[shmem_idx + j * 8u + 2 * k] = q_lo;    // Store the low nibble quantized weight
                    shmem[shmem_idx + j * 8u + 2 * k + 1u] = q_hi;
                }
            }
        }
    }
}

#enddecl(INIT_SRC0_SHMEM_Q4_0)
